<div class="grid grid--uniform" role="list">

        {% for product in collection.products %}
          {% if collection.products.size == 1 %}
            {% assign grid_item_width = 'medium-up--one-third small--one-whole' %}
          {% else %}
            {% assign grid_item_width = 'medium-up--one-third small--one-half' %}
          {% endif %}
          {% include 'product-grid-item' %}
        {% else %}
          {% comment %}
            Add default products to help with onboarding for collections/all only.
    
            The onboarding styles and products are only loaded if the
            store has no products.
          {% endcomment %}
          {% if shop.products_count == 0 and collection.handle == 'all' %}
            {% unless onboardingLoaded %}
              {% comment %}
                Only load onboarding styles if they have not already been loaded.
              {% endcomment %}
              {% assign onboardingLoaded = true %}
            {% endunless %}
            <div class="grid__item">
              <div class="grid grid--uniform">
                {% assign collection_index = 1 %}
                {% for i in (1..6) %}
                  <div class="grid__item small--one-half medium-up--one-third text-center">
                    <a href="/admin/products" class="grid__image">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </a>
                    <div class="product__title"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></div>
                    <div class="product__price">$19.99</div>
                  </div>
                  {% assign collection_index = collection_index | plus: 1 %}
                {% endfor %}
              </div>
            </div>
          {% else %}
            {% comment %}
              If collection exists but is empty, display message
            {% endcomment %}
            <div class="grid__item">
              <p>{{ 'collections.general.no_matches' | t }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    
    